* {
    padding: 0;
    margin: 0;
}

.encabezado {
    background-color: #edebc9;
}

.imgPortada {
    padding-top: 8%;
}

.encabezado p {
    font-family: "Roboto Slab";
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .imgPortada {
        padding-top: 15%;
    }
}

h1 {
    font-family: "Fjalla One";
    font-size: 70px;
    padding-top: 2%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
    font-size: 40px;
    }
}

.navbar-expand-lg .navbar-collapse {
    justify-content: center;
}


h2 h3 h4 {
    font-family: "Fjalla One" !important;
}


#preguntas {
    padding: 3%;
    justify-content: center;
    padding-top: 6%;
    font-family: "Roboto Slab";
}

.rounded-start {
    border-bottom-right-radius: var(--bs-border-radius)!important;
    border-top-right-radius: var(--bs-border-radius)!important;
}

#servicios {
    background-color: #edebc9;
}

.llaveEnmano {
    font-family: "Roboto Slab";
    padding-top: 3%;
}

.listaLlavemano {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    .listaLlavemano {
        width: 95%;
    }
}

.llaveEnmano ul {
    list-style: none;
    padding-left: 0%;
}

.llaveEnmano ul li {
    padding-bottom: 7px;
}

.imgLlaveEnmano {
    border-radius: 10px;
    margin-bottom: 3%;
}

.obraGris {
    margin-top: 6%;
}

.imgObragris {
    border-radius: 10px;
    margin-bottom: 3%;
}

.listaObragris {
    width: 70%;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    .listaObragris {
        width: 95%;
    }
}

.listaObragris ul {
    list-style: none;
    padding-left: 0%;
}

.listaObragris ul li {
    padding-bottom: 7px;
}

footer ul {
    list-style: none;
    padding-left: 0%;
}

footer ul li{
    padding-bottom: 10px;
}

footer {
    padding-top: 5%;
}

.imgRedes {
    width: 50px;
    height: auto;
}

#contactar {
    font-size: 25px;
}

#contactar a {
    text-decoration: none;
}


